openapi: 3.2.0
info:
  title: Profile State API
  version: 3.0.0
servers:
- url: https://api.fenergox.com/tm/profile
tags:
- name: State
paths:
  /state/profile/v3:
    get:
      summary: Get Profiles Api
      description: 'Receives GET /state/profile/v3 request.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        GetProfilesResponse: Response object to be returned to user'
      operationId: get_profiles_api_state_profile_v3_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Profiles Api State Profile V3 Get
      security:
      - HTTPBearer: []
      tags:
      - State
  /state/profile/v3/calculation/logs:
    get:
      summary: Download Profile Calculation Logs Api
      description: 'Receives GET /state/profile/v3/calculation/logs request.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        FileResponse: Response object to be returned to user'
      operationId: download_profile_calculation_logs_api_state_profile_v3_calculation_logs_get
      parameters:
      - required: true
        schema:
          type: string
          title: Log Stream Id
        name: log_stream_id
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Download Profile Calculation Logs Api State Profile V3 Calculation Logs Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
  /state/profile/v3/custom:
    post:
      summary: Custom Profiles Api
      description: 'An API to add a custom profile value.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        Response200: Response object to be returned to user'
      operationId: custom_profiles_api_state_profile_v3_custom_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomProfileValueRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
    delete:
      summary: Delete Custom Profiles Api
      description: 'An API to delete a custom profile value.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        Response200: Response object to be returned to user'
      operationId: delete_custom_profiles_api_state_profile_v3_custom_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomProfileValueRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
  /state/peer-group/v3/{peergroup_id}/entity:
    get:
      summary: Get Peergroup Entities Api
      description: 'An API to get all the entities that belong to a specific peergroup.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        GetPeergroupEntitiesResponse: Response object to be returned to user'
      operationId: get_peergroup_entities_api_state_peer_group_v3__peergroup_id__entity_get
      parameters:
      - required: true
        schema:
          type: string
          title: Peergroup Id
        name: peergroup_id
        in: path
      - required: false
        schema:
          type: integer
          maximum: 250.0
          exclusiveMinimum: 0.0
          title: Limit
          default: 50
        name: limit
        in: query
      - required: false
        schema:
          type: string
          title: Next
        name: next
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPeergroupEntitiesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
    post:
      summary: Change Peergroups Entities Api
      description: 'An API to change peergroup entities.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        Response200: Response object to be returned to user'
      operationId: change_peergroups_entities_api_state_peer_group_v3__peergroup_id__entity_post
      parameters:
      - required: true
        schema:
          type: string
          title: Peergroup Id
        name: peergroup_id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostPeergroupEntitiesChangeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
  /state/peer-group/v3:
    get:
      summary: List Peergroups Api
      description: 'An API to fetch metadata of the peergroups and paginate them.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        ListPeergroupResponse: Resposne object to be returned to user'
      operationId: list_peergroups_api_state_peer_group_v3_get
      parameters:
      - required: false
        schema:
          type: integer
          maximum: 250.0
          exclusiveMinimum: 0.0
          title: Limit
          default: 50
        name: limit
        in: query
      - required: false
        schema:
          type: string
          title: Next
        name: next
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPeergroupResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
    post:
      summary: Create Peergroups Api
      description: 'An API to create a new peergroup record.


        Raises:

        GenericRequestError: in case of any error during the processing


        Returns:

        Response200: Response object to be returned to user'
      operationId: create_peergroups_api_state_peer_group_v3_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Peergroup'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response200'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
  /state/peer-group/v3/{peergroup_id}:
    get:
      summary: Get Peergroups Api
      description: 'An API to fetch metadata of the peergroup given the uuid.


        Returns:

        Peergroup: Response object to be returned to user'
      operationId: get_peergroups_api_state_peer_group_v3__peergroup_id__get
      parameters:
      - required: true
        schema:
          type: string
          title: Peergroup Id
        name: peergroup_id
        in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Peergroup'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - State
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ListPeergroupResponse:
      properties:
        peergroups:
          items:
            $ref: '#/components/schemas/Peergroup'
          type: array
          title: Peergroups
        next:
          type: string
          title: Next
      additionalProperties: false
      type: object
      required:
      - peergroups
      title: ListPeergroupResponse
      description: Defines a ListPeergroupResponse structure and types.
    GetPeergroupEntitiesResponse:
      properties:
        msg:
          type: string
          title: Msg
        entities:
          items:
            type: string
          type: array
          title: Entities
        next:
          type: string
          title: Next
      additionalProperties: false
      type: object
      required:
      - msg
      - entities
      title: GetPeergroupEntitiesResponse
      description: Defines a GetPeergroupEntitiesResponse structure and types.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Response200:
      properties: {}
      additionalProperties: false
      type: object
      title: Response200
      description: Defines an empty body response, which is related to 200 OK.
    EntityIdObject:
      properties:
        entity_id:
          type: string
          title: Entity Id
      additionalProperties: false
      type: object
      required:
      - entity_id
      title: EntityIdObject
      description: Defines a EntityIdObject structure and types.
    CustomProfileValueRequest:
      properties:
        key:
          type: object
          title: Key
        value:
          title: Value
      additionalProperties: false
      type: object
      required:
      - key
      title: CustomProfileValueRequest
      description: Defines a PostCustomProfileValueRequest structure and types.
    Peergroup:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
        external_id:
          type: string
          title: External Id
      additionalProperties: false
      type: object
      required:
      - name
      - description
      - external_id
      title: Peergroup
      description: Defines a Peergroup structure and types.
    PostPeergroupEntitiesChangeRequest:
      properties:
        entities_to_add:
          items:
            $ref: '#/components/schemas/EntityIdObject'
          type: array
          title: Entities To Add
        entities_to_remove:
          items:
            $ref: '#/components/schemas/EntityIdObject'
          type: array
          title: Entities To Remove
      additionalProperties: false
      type: object
      required:
      - entities_to_add
      - entities_to_remove
      title: PostPeergroupEntitiesChangeRequest
      description: Defines a PostPeergroupEntitiesChangeRequest structure and types.
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
