openapi: 3.2.0
info:
  title: Transaction Backtests API
  version: 3.0.1
servers:
- url: https://api.fenergox.com/tm/realtime
tags:
- name: Backtests
paths:
  /backtests:
    get:
      summary: Handle Backtests Request
      description: Get a list of backtests based on an optional status
      operationId: handle_backtests_request_backtests_get
      parameters:
      - required: false
        schema:
          $ref: '#/components/schemas/BacktestStatus'
        name: status
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngineBacktestResponseByStatus'
        '400':
          description: A data validation occurred.
        '403':
          description: No permission to take the respective action.
        '404':
          description: The requested resource was not found.
        '409':
          description: The requested operation could not be performed due to a data conflict.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - OAuth2 Client Credentials: []
      tags:
      - Backtests
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    EngineBacktestListItem:
      properties:
        Request ID:
          type: string
          title: Request Id
        Request Name:
          type: string
          title: Request Name
        Status:
          $ref: '#/components/schemas/BacktestStatus'
        Test Date:
          type: string
          format: date
          title: Test Date
        Backload Days:
          type: integer
          title: Backload Days
        Replay Days:
          type: integer
          title: Replay Days
        Skip Backload:
          type: boolean
          title: Skip Backload
          default: false
        Creation Datetime:
          type: string
          format: date-time
          title: Creation Datetime
        backtest_duration:
          type: string
          title: Backtest Duration
      type: object
      required:
      - Request ID
      - Request Name
      - Status
      - Test Date
      - Replay Days
      - Creation Datetime
      title: EngineBacktestListItem
    EngineBacktestResponseByStatus:
      properties:
        Total requests found:
          type: integer
          title: Total Requests Found
        Requests:
          items:
            $ref: '#/components/schemas/EngineBacktestListItem'
          type: array
          title: Requests
      type: object
      required:
      - Total requests found
      - Requests
      title: EngineBacktestResponseByStatus
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    BacktestStatus:
      type: string
      enum:
      - to_do
      - preparing
      - in_progress
      - cleaning_up
      - done
      - failed
      title: BacktestStatus
      description: Possible states of a backtest request
  securitySchemes:
    OAuth2_Client_Credentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: oauth2/token
